<div id="wrapper">
    <navigation></navigation>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Pokémon
                        <small class="hidden-xs">Gotta catch ´em all!</small>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
